<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] | @ViewBag.ApplicationName </title>
    <partial name="_Styles" />

</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/uajylogo.png" alt="AFYA CARE INDONESIA" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header text-sm navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
               <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
               @* <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>*@

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>
                        My Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="~/templates/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        @ViewBag.UserName
                                    </h3>
                                    <p class="text-sm">@ViewBag.Role</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>@ViewBag.UserNPP</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>

                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Profile</a>
                        <a href="#" class="dropdown-item dropdown-footer">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a href="~/account/logout" class="dropdown-item dropdown-footer">Sign Out</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar text-sm sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/" class="brand-link">
                <img src="~/img/uajylogo.png" alt="@ViewBag.ApplicationName" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">@ViewBag.ApplicationName</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column text-sm nav-flat nav-child-indent" data-widget="treeview"
                        role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        @{
                            var parent = 0;
                            for (parent = 0; parent < @ViewBag.Menus.Count; parent++)
                            {
                                <li class="nav-item">
                                    <a href="@ViewBag.Menus[parent].menuLink" class="nav-link">
                                        <i class="nav-icon fas @ViewBag.Menus[parent].menuIcon"></i>
                                        <p>
                                            @ViewBag.Menus[parent].menuTitle
                                            @if (@ViewBag.Menus[parent].subModules != null && @ViewBag.Menus[parent].subModules.Count > 0)
                                            {
                                                <i class="fas fa-angle-left right"></i>
                                            }
                                        </p>
                                    </a>
                                    @if (@ViewBag.Menus[parent].subModules != null && @ViewBag.Menus[parent].subModules.Count > 0)
                                    {
                                        <ul class="nav nav-treeview">
                                            @foreach (var clientType in ViewBag.Menus[parent].subModules)
                                            {
                                                <li class="nav-item">
                                                    <a href="@clientType.menuLink" class="nav-link">
                                                        <i class="nav-icon fas @clientType.menuIcon"></i>
                                                        <p>
                                                            @clientType.menuTitle

                                                        </p>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" id="isi_halaman">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2022 <a href="#">Universitas Atma Jaya Yogyakarta</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.1
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/templates/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/templates/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/templates/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/templates/plugins/moment/moment.min.js"></script>

    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/templates/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/templates/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="~/templates/plugins/inputmask/jquery.inputmask.min.js"></script>    
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/templates/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <!-- overlayScrollbars -->
    <script type="text/javascript" src="~/templates/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script type="text/javascript" src="~/templates/plugins/select2/js/select2.js"></script>
    <script type="text/javascript" src="~/templates/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/templates/plugins/noty/lib/noty.min.js"></script>
    <script type="text/javascript" src="~/templates/plugins/gasparesganga-jquery-loading-overlay/dist/loadingoverlay.min.js"></script>
    <script type="text/javascript" src="~/templates/plugins/jquery-validation/jquery.validate.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.2.1/b-colvis-2.2.1/b-html5-2.2.1/b-print-2.2.1/cr-1.5.5/date-1.1.1/kt-2.6.4/r-2.2.9/rg-1.1.4/rr-1.2.8/sc-2.0.5/sb-1.3.0/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/templates/dist/js/adminlte.js"></script>


    <script src="~/templates/dist/js/demo.js"></script>
    <script src="~/js/ki-underscore.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("JavaScript", required: false)
</body>
</html>
