@{
    ViewData["placeHolderFilter"] = "Pencarian Temuan Audit";
}

<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">
         <partial view-data="ViewData" name="~/Views/Shared/Filter/Filter_1Field.cshtml" />

        <div class="row">
            <div class="col-md-12">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <table class="table table-bordered table-striped table-responsive-sm" style="width:100%" id="grid">
                            <thead>
                                <tr>
                                    <th rowspan="2"> NO </th>
                                    <th rowspan="2"> NAMA AUDITOR </th>
                                    <th rowspan="2"> KODE </th>
                                    <th rowspan="2"> UNIT AUDITEE </th>
                                    <th rowspan="2"> KODE </th>
                                    <th rowspan="2"> CAR/OB </th>
                                    <th rowspan="2"> URAIAN TEMUAN </th>
                                    <th colspan="2" style="text-align: center;"> RUJUKAN </th>
                                    <th rowspan="2"> STATUS </th>
                                    <th rowspan="2"> AKSI </th>
                                </tr>
                                <tr>
                                    <th> NO STANDAR </th>
                                    <th> PERNYATAAN STANDAR </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="modalTemuan" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeader">Default Modal</h4>
            </div>
             <form class="form-horizontal" id="formTambah">
            <div class="modal-body">
               
                    @Html.AntiForgeryToken()
                     <input type="hidden" name="id_edit" class="form-control form-control-sm" id="txtID">
                   
                   
                    <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Audiator</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="input_auditor" name="id_auditor" disabled>
                              
                            </select>
                        </div>
                    </div>

                     <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Auditee</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="input_auditee" name="id_auditee" required>
                              
                            </select>
                        </div>
                    </div>

                      <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Jenis</label>
                        <div class="col-sm-9">
                        <select class="form-control" id="input_jenis" name="jenis" required>
                            <option value=""> - </option>
                            <option id="CAR"> CAR </option>
                            <option id="OB"> OB </option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm"> Uraian Temuan</label>
                        <div class="col-sm-9">
                       <textarea class="form-control" id="input_uraian" name="uraian" required></textarea>
                        </div>
                    </div>
                    
                     <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm"> No Standar</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="input_no_standar" name="no_standar" required>
                                <option value=""> - </option>
                            </select>
                        </div>
                    </div>
                       <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm"> Pernyataan Standar</label>
                        <div class="col-sm-9">
                              <textarea class="form-control" id="pernyataan" disabled></textarea>
                        </div>
                    </div>
                   
                    
                
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm">Simpan</button>
                <button type="button" id="btnCancel" class="btn btn-default btn-sm">Batal</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal fade" role="dialog" id="modalTanggapan" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalHeader">Default Modal</h4>
            </div>
             <form class="form-horizontal" id="formEditTanggapan">
            <div class="modal-body">
               
                    @Html.AntiForgeryToken()
                     <input type="hidden" name="id_edit" class="form-control form-control-sm" id="tgp_id_edit">
                    <input type="hidden" name="id_temuan" class="form-control form-control-sm" id="tgp_id_temuan">
                   
                    <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Akar Masalah</label>
                        <div class="col-sm-9">
                            <select style="width:100%;" class="form-control select2 select2bs4" id="input_akar_masalah" name="akar_masalah" required>
                              <option value="">-</option>
                            </select>
                        </div>
                    </div>

                      
                    <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Analisis akar masalah </label>
                        <div class="col-sm-9">
                       <textarea class="form-control" id="input_analisis" name="analisis"></textarea>
                        </div>
                    </div>
                    
                      <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Tindakan koreksi </label>
                        <div class="col-sm-9">
                       <textarea class="form-control" id="input_koreksi" name="koreksi"></textarea>
                        </div>
                    </div>

                    <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Tindakan korektif </label>
                        <div class="col-sm-9">
                       <textarea class="form-control" id="input_korektif" name="korektif"></textarea>
                        </div>
                    </div>

                      <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm"> Pilih Jenis File</label>
                        <div class="col-sm-9 pt-1">
                             <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioDokumen" type="radio" name="jenis" value="doc" checked required>
                                <label class="form-check-label" for="radio dokumen"> Dokumen/Gambar </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="radioVideo" type="radio" name="jenis" value="vid" required>
                                <label class="form-check-label" for="radio video"> Link Dokumen </label>
                            </div>
                        </div>
                    </div>
                      <div class="form-group row form-group-sm div_input_file">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">File</label>
                        <div class="col-sm-9">
                            <input class="form-control-file" type="file" id="input_file" name="file" placeholder="Unggah file..." onchange="getExt(event, 'create')" />
                            <input id='input_tipe_file' type='hidden' name='tipe_file'>
                        </div>
                    </div>

                     <div class="form-group row form-group-sm">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Nama File </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="input_nama_file" name="nama_file" required />
                        </div>
                    </div>
                    
                     <div class="form-group row form-group-sm div_input_link" style="display:none">
                        <label for="txtUnitAuditee" class="col-sm-3 col-form-label col-form-label-sm">Link </label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" id="input_link" name="link" />
                        </div>
                    </div>                
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm">Simpan</button>
                <button type="button" id="btnCancel" class="btn btn-default btn-sm">Batal</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section JavaScript
{
<script type="text/javascript">
    let role="@ViewData["Role"]";
    let id_auditor="@ViewData["IdAuditor"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/audit_temuan.js")"></script>
}