@{
    List<EmployeeUnAssigned> Employees = ViewData["EmployeeList"] as List<EmployeeUnAssigned>;
}
<partial name="~/Views/Shared/_PageHeaderTitle.cshtml" />

<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="card card-default card-sm">

                    <div class="card-body card-body-sm">
                        <form class="form-horizontal" method="post" role="form" id="formTambah">
                            @Html.AntiForgeryToken()
                            <div class="form-group row form-group-sm">
                                <label for="txtNPP" class="col-sm-3 col-form-label col-form-label-sm">Nama</label>
                                <div class="col-sm-9">
                                    <select class="form-control select2 select2bs4" id="inputNama" name="namaKaryawan">
                                        <option value=""> - </option>
                                        @foreach (EmployeeUnAssigned employee in Employees)
                                        {
                                            <option value="@employee.NPP">@employee.NAMA</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row form-group-sm">
                                <label for="txtKode" class="col-sm-3 col-form-label col-form-label-sm">Kode</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtKode" class="form-control form-control-sm" id="txtKode"
                                           placeholder="Kode">
                                </div>
                            </div>

                            <div class="form-group row form-group-sm">
                                <label for="txtProgramStudi" class="col-sm-3 col-form-label col-form-label-sm">Program Studi</label>
                                <div class="col-sm-9">
                                    <input type="text" name="txtProgramStudi" class="form-control form-control-sm" id="txtProgramStudi"
                                           placeholder="Program Studi">
                                </div>
                            </div>

                            <div class="form-group row form-group-sm">
                                <label for="txtEmail" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" name="txtEmail" class="form-control form-control-sm" id="txtEmail"
                                           placeholder="Email">
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-footer">
                        <button type="button" id="btnSave" class="btn btn-success btn-sm">Simpan</button>
                        <button type="button" id="btnCancel" class="btn btn-default btn-sm">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section JavaScript
{
<script type="text/javascript">
        let personType="@ViewData["personType"]";
</script>
<script type="text/javascript" src="@Url.Content("/js/modules/person_edit.js")"></script>

}